<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IValidationService" />
                <binding name="WSHttpBinding_ISearchService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MySoapService/Validation"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IValidationService"
                contract="MySoapServiceReference.IValidationService" name="WSHttpBinding_IValidationService">
                <identity>
                    <userPrincipalName value="LGLESIAS\Iglesias" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/MySoapService/Search"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISearchService"
                contract="MySoapServiceReference.ISearchService" name="WSHttpBinding_ISearchService">
                <identity>
                    <userPrincipalName value="LGLESIAS\Iglesias" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>